<div class="card bg-base-200 card-border border-base-300 card-sm">
	<div class="card-body gap-4">
		<h2 class="flex items-center gap-2 font-semibold">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="size-5 opacity-40"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z"
				></path>
			</svg>
			Button Group
		</h2>
		<div class="join flex justify-center">
			<button class="join-item btn btn-sm">S</button>
			<button class="join-item btn btn-sm btn-active">M</button>
			<button class="join-item btn btn-sm">L</button>
			<button class="join-item btn btn-sm">XL</button>
		</div>
		<div class="join flex justify-center">
			<input class="join-item btn btn-sm" type="radio" name="options" aria-label="Left" checked />
			<input class="join-item btn btn-sm" type="radio" name="options" aria-label="Center" />
			<input class="join-item btn btn-sm" type="radio" name="options" aria-label="Right" />
		</div>
	</div>
</div>