<script type="module">
	import { currentPageTitle } from "./src/main.js"
	function sayHello(s) {
		document.getElementById("hello").innerHTML = "Hello " + s
	}
	document.addEventListener("DOMContentLoaded", () => {
		const button1 = document.getElementById("logo-ahk")
		const button2 = document.getElementById("logo-vite")
		const button3 = document.getElementById("logo-tailwind")
		if (button1) {
			button1.addEventListener("mouseenter", () => {
				sayHello("AutoHotkey")
			})
			button1.addEventListener("mouseleave", () => {
				currentPageTitle()
			})
		}
		if (button2) {
			button2.addEventListener("mouseenter", () => {
				sayHello("Vite")
			})
			button2.addEventListener("mouseleave", () => {
				currentPageTitle()
			})
		}
		if (button3) {
			button3.addEventListener("mouseenter", () => {
				sayHello("TailwindCSS")
			})
			button3.addEventListener("mouseleave", () => {
				currentPageTitle()
			})
		}
	})
</script>
<div class="flex flex-row justify-center items-center mb-10">
	<div class="">
		<a onmousedown="ahk.Visit('https://autohotkey.com')" href="#">
			<img
				id="logo-ahk"
				width="160"
				src="assets/autohotkey.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#4caf50aa] duration-300"
				alt="autohotkey logo"
			/>
		</a>
	</div>
	<div class="">
		<a onmousedown="ahk.Visit('https://vite.dev')" href="#">
			<img
				id="logo-vite"
				width="115"
				src="assets/vite.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#ffcc24aa] duration-300"
				alt="Vite logo"
			/>
		</a>
	</div>
	<div class="">
		<a onmousedown="ahk.Visit('https://tailwindcss.com')" href="#">
			<img
				id="logo-tailwind"
				width="150"
				src="assets/TailwindCSS.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#38bdf8aa] duration-300"
				alt="tailwindcss logo"
			/>
		</a>
	</div>
</div>
