<div class="flex flex-row justify-center items-center mb-10">
	<div class="">
		<a onmousedown="ahk.Visit('https://autohotkey.com')" href="#">
			<img
				width="160"
				src="assets/autohotkey.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#4caf50aa] duration-300"
				alt="autohotkey logo"
				onmouseenter="sayHello('AutoHotkey')"
				onmouseleave="sayHello('WebView')"
			/>
		</a>
	</div>
	<div class="">
		<a onmousedown="ahk.Visit('https://vite.dev')" href="#">
			<img
				width="115"
				src="assets/vite.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#ffcc24aa] duration-300"
				alt="Vite logo"
				onmouseenter="sayHello('Vite')"
				onmouseleave="sayHello('WebView')"
			/>
		</a>
	</div>
	<div class="">
		<a onmousedown="ahk.Visit('https://tailwindcss.com')" href="#">
			<img
				width="150"
				src="assets/TailwindCSS.svg"
				class="px-4 hover:drop-shadow-[0_0_2em_#38bdf8aa] duration-300"
				alt="tailwindcss logo"
				onmouseenter="sayHello('TailwindCSS')"
				onmouseleave="sayHello('WebView')"
			/>
		</a>
	</div>
</div>
